<div (click)="home()"><mat-icon id="back">reply</mat-icon></div>

<div id="page">
<mat-card id="card">
  <div id="dados">
    <div id="aba">
      <img src="../../assets/ABA.png" alt="" id="logo">
    </div>
    <mat-card-title>ABA</mat-card-title>

    <div id="inputs">
      <label>Email</label>
      <input type="email" name="" id="" placeholder="email" style="width: 12rem;">

      <label>Senha</label>
      <input type="password" name="" id="" placeholder="senha" style="width: 12rem;">
      <a (click)="user()">Não tem conta? Faça seu cadastro</a>
    </div>

    <div>
      <button (click)="menu()">Login</button>
    </div>
  </div>



  <!--
  <mat-spinner [color]="color"></mat-spinner>
  -->
</mat-card>
</div>
