<mat-card>
    <div>
      <mat-card-title>ABA</mat-card-title>
      <mat-card-title id="subtitle">Sua assistente de planejamento</mat-card-title>
      <mat-card-title id="where"><a href="#" onclick="navega('home')" class="home">Home</a></mat-card-title>
    </div>
</mat-card>

<div class="all">

    <div class="side-menu">
        <div class="img">
            <img src="../../assets/ABA.png" alt="">
        </div>

        <mat-card class="sidecard">

            <div class="titles">
                <h3 class="titulo1">Olá Fulana</h3>
                <h3 class="titulo2">O que deseja?</h3>
            </div>

            <div class="links">
                <a (click)="navega('turmas')" class="minhas-turmas">Minhas Turmas</a>
                <a (click)="navega('cadastro-turmas')" class="criar-turmas">Criar Turmas</a>
                <a (click)="navega('alunos')" class="meus-alunos"> Meus Alunos</a>
                <a (click)="navega('cadastro-alunos')" class="cadastrar-aluno">Cadastrar Aluno</a>
                <a (click)="navega('listar-planos')" class="planos-vigentes">Planos de Objetivos</a>
                <a (click)="navega('planos')" class="planos-vigentes">Novo Plano</a>
              </div>

            <div class="sair">
                <h4>
                <a (click)="navega('home')" class="sairbutton">Sair</a>
                </h4>
            </div>

        </mat-card>
    </div>

    <div class="centercard">
        <mat-card class="CardCenter">
            <mat-card-title class="tituloCard">Meu Perfil</mat-card-title>
            <mat-card-actions><img src="../../assets/ABA.png" alt=""></mat-card-actions>
            <mat-card-actions>
                <h2 class="CenterCard-Titulo">Fulana da silva</h2>
                <h3 class="CenterCard-SubTitulo">Professor(a) na escola rua dos bobos</h3>
            </mat-card-actions>
            <mat-card-actions class="info1">
                <h3 class="cpf">Cpf:xxx.xxx.xxx-xx</h3>
                <h3 class="nasc">Data de nascimento: dd/mm/aaaa</h3>
            </mat-card-actions>
            <mat-card-actions class="info2" >
                <h3 class="tel">Telefone: (00) 00000-0000</h3>
                <h3 class="email">Email:Fulaninha@email.com</h3>
            </mat-card-actions>
            <mat-card-actions class="info3">
                <button mat-raised-button color="primary" class="Button-EditaPerfil" >Editar perfil</button>
                <button mat-raised-button color="primary" class="Button-EditaSenha">Mudar senha</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
