<div (click)="home()"><mat-icon id="back">reply</mat-icon></div>

<div class="cartao1">
  <mat-card class="backcard">

    <div class="logo">
      <img src="../../assets/ABA.png" alt="ABA" id="logo">
    </div>
    <mat-card-title>ABA</mat-card-title>


    <div class="parte1">

      <div class="nome">
        <h3>Nome</h3>
        <input type="text" id="name">
      </div>

      <div class="cpf">
        <h3>CPF</h3>
        <input type="text" name="cpf" id="cpf">
      </div>

      <div class="telefone">
        <h3>Telefone</h3>
        <input type="text" name="tel" id="telefone">
      </div>
    </div>

    <div class="parte2">

      <div class="sobrenome">
        <h3>Sobrenome</h3>
        <input type="text" name="surname" id="sobrenome">
      </div>
    </div>

    <div class="parte3">

      <div class="instituicao">
        <h3>Instituição</h3>
        <input type="text" name="institution" id="instituicao">
      </div>

      <div class="nascimento">
        <h3>Data de Nascimento</h3>
        <input type="date" name="birthdate" id="nascimento">
      </div>
    </div>

    <div class="parte4">

      <div class="email">
        <h3>Email</h3>
        <input type="text" name="email" id="email">
      </div>

      <div class="confirmemail">
        <h3>Confirme seu email</h3>
        <input type="text" name="confemail" id="confirmemail">
      </div>
    </div>

    <div class="parte5">

      <div class="senha">
        <h3>Senha</h3>
        <input type="password" name="password" id="senha">
      </div>

      <div class="confirmsenha">
        <h3>Confirme sua senha</h3>
        <input type="password" name="confpassword" id="confirmsenha">
      </div>
    </div>

    <div class="botoes">

      <div class="cadastro">

        <button id="cadastro" (click)="login()">Cadastro</button>

      </div>

      <div class="cancelar">
        <button id="cancelar" (click)="login()">Cancelar</button>
      </div>
    </div>

  </mat-card>

</div>
