#foto{
  border-radius: 50rem;
}

.all{
display: flex;
text-align: center;
}
img{
  width: 13rem;
  height: 13rem;
}

.side-menu{
  margin-top: 1rem;
  margin-left: 0rem;
  display: block;
  text-align: center;
}

h1{
  font-family: 'Bad Script', cursive;
  color: #026f6e;
  font-size: 2.3rem;
}

div{
  text-align: center;
}

.links{
  height: auto;
  display: block;
  text-align: center;
}

.titles{
  text-align: center;
  display: block;
}
.titulo1{
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  margin-top: .7rem;
  color: white;
}

.titulo2{
  font-family: 'Bad Script', cursive;
  font-size: 1.2rem;
  margin-top: 0.03rem;
  color: white;
}

a{
  display: block;
  font-family: 'Martel', serif;
  color: #24c0eb;
  text-decoration: none;
  margin-top: 0.9rem;
  font-size: .9rem;
}
a:hover{
  color: #84def7;
}
.home{
  color: #e72313;
}
.home:hover{
  color:#af6f69;
}
.sairbutton{
  font-family: 'Martel', serif;
  color: #ffbc11;
  }

.sairbutton:hover{
  color: #f0cd76;
}

.sair{

  justify-content: center;

}

.sidecard{
  background-color: #026f6e;
  -webkit-box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:    -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  box-shadow:         -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  width: 12rem;
}

.centercard{

  display:flexbox;
}

.cartao2{
  padding-top: 3rem;
  height: 43rem;
  width: 56rem;
  justify-content: space-between;
}

#name{
  width: 40rem;
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}

.parte1{
  justify-content: center;
}


.nome{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
  align-items: center;
}

.parte2{
  padding-left: 1rem;
  padding-top: 2.5rem;
  position: relative;
  display: flex;
}

.nascimento{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;

}

#date{
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}

.genero{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
}

#genero{
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}

.cpf{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
}

#cpf{
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}

.parte3{
  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: flex;
}

.laudo{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
}


.contato{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
}

#contact{
  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: table;
}

.cid{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
}

#cid{

  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: table;
}

.endereco{

  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: table;
}

#address{
  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: table;
}

#endereco{

  padding: .3rem;
  margin-left: 1.3rem;
  position: relative;
  display: flexbox;
  width: 45rem;
}

.parte4{
  padding-top: 2.5rem;
  position: relative;
  display: flex;
}

#responsible{
  padding-left: 1rem;
  padding-top: .6rem;
  position: relative;
  display: flex;
}
#responsavel{
  padding: .3rem;
  margin-left: 1.3rem;
  position: relative;
  display: flexbox;
  width: 30rem;
}

.responsavel{
  display: table;
}

.parentesco{
  display: table;

}

#relative{
  padding: .3rem;
  position: relative;
  display: flexbox;
  width: 10rem;
}


.botoes{
  padding: 3rem;
  justify-content: center;
}

#registrar{
  background-color: #026f6e;
  color: white;
  border-color: #5adb94;
  font-family: 'Martel', serif;
  height: 2.6rem;
  border-radius: .5rem;
  width: 8rem;
}

#registrar:hover{
  transition-duration: .5s;
  background-color: #004948;
}

#cancelar{
  font-family: 'Martel', serif;
  background-color: #e72313;
  border-color: #ffbc11;
  color: white;
  border-radius: .5rem;
  height: 2.6rem;
  width: 8rem;
}
#cancelar:hover{
  transition-duration: .5s;
  background-color: #9b1509;
}

input{
  border-color:#24c0eb;
  border-radius: .5rem;
  color: #e72313;
}



select{
  border-color:#24c0eb;
  border-radius: .5rem;
  color: #e72313;
}

label{
  display: flex;
  color: #e72313;
  font-family: 'Martel', serif;
}


