.all{
    display: flex;
    text-align: center;
}
img{
    width: 13rem;
    height: 13rem;
    text-align: center;
  }
  .img{
    justify-content: center;
  }

  .side-menu{
    margin-top: 1rem;
    margin-left: 0rem;
    display: block;
    text-align: center;
  }
  .links{
    height: auto;
    display: block;
    text-align: center;
  }

.titles{
    text-align: center;
    display: block;
  }
  .titulo1{
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    margin-top: .7rem;
    color: white;
  }

  .titulo2{
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
    margin-top: 0.03rem;
    color: white;
  }

  a{
    display: block;
    font-family: 'Martel', serif;
    color: #24c0eb;
    text-decoration: none;
    margin-top: 0.9rem;
    font-size: .9rem;
  }
  a:hover{
    color: #84def7;
  }

  .sairbutton{
    font-family: 'Martel', serif;
    color: #ffbc11;
    }

  .sairbutton:hover{
    color: #f0cd76;
  }

  .sair{

    justify-content: center;

  }
  .sidecard{
    background-color: #026f6e;
    -webkit-box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:    -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    box-shadow:         -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    width: 12rem;
  }

  .home{
    color: #e72313;
  }
  .home:hover{
    color:#af6f69;
  }

  .centercard{
    display:flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .CardCenter{
    width: 94%;
    height: 40rem;
    box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    justify-content: center;
  }

  .TitleCardCent {
    font-family: 'Bad Script',cursive;
    font-style: Bold;
    color: #026F6E;
    padding-top: 5%;
  }

  .TituloInputs{
    margin-top: 3.5rem;
    display: flex;
  }

  .input{
    display: block;
  }

  .titles-inputs{
    text-align: left;
    font-family: 'Martial';
    font-size: 1.1rem;
    color: #E72313;
    margin-bottom: 0.5rem;
    }
    mat-form-field{
      display: block;
    }

  .linha1{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  #Obj{

    width: 64rem;
    height: 1rem;
    padding: 10px;
    border:1px solid #259B9B;
    border-radius: 15px;
    font-family: 'Martial';
    position: relative;
    margin-right: 3rem;
    margin-left: 1rem;

  }
  #nome{
    display: grid;
}
  #data{
    display: grid;
  }

#labelNome{
  margin-left: -63.5rem;
}
  #Data{
    width: 12rem;
    height: 1rem;
    padding: 10px;
    border:1px solid #259B9B;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-family: 'Martial';
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
}

  #Desc{
    margin-top: 1rem;
    width: 500rem;
    height: 16rem;
    border:1px solid #259B9B;
    border-radius: 15px;
    resize:none;
    padding: 10px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Martial';

  }
  .botoes{
    justify-content: center;
    }

  #cadastro{
    background-color: #026f6e;
    color: white;
    border-color: #5adb94;
    font-family: 'Martel', serif;
    height: 2.6rem;
    border-radius: .5rem;
    width: 8rem;
    margin-right: 3rem;
  }

  #cadastro:hover{
    transition-duration: .5s;
    background-color: #004948;
  }

  #cancelar{
    font-family: 'Martel', serif;
    background-color: #e72313;
    border-color: #ffbc11;
    color: white;
    border-radius: .5rem;
    height: 2.6rem;
    width: 8rem;
  }
  #cancelar:hover{
    transition-duration: .5s;
    background-color: #9b1509;
  }
