<mat-card>
    <div>
      <mat-card-title>ABA</mat-card-title>
      <mat-card-title id="subtitle">Sua assistente de planejamento</mat-card-title>
      <mat-card-title id="where"><a (click)="navega('home')" class="home">Home / Planos</a></mat-card-title>
    </div>
  </mat-card>

  <div class="all">

    <div class="side-menu">
        <div class="img">
            <img src="../../assets/ABA.png" alt="">
        </div>

        <mat-card class="sidecard">

            <div class="titles">
                <h3 class="titulo1">Olá Fulana</h3>
                <h3 class="titulo2">O que deseja?</h3>
            </div>

            <div class="links">
              <a (click)="navega('turmas')" class="minhas-turmas">Minhas Turmas</a>
              <a (click)="navega('cadastro-turmas')" class="criar-turmas">Criar Turmas</a>
              <a (click)="navega('alunos')" class="meus-alunos"> Meus Alunos</a>
              <a (click)="navega('cadastro-alunos')" class="cadastrar-aluno">Cadastrar Aluno</a>
              <a (click)="navega('listar-planos')" class="planos-vigentes">Planos de Objetivos</a>
              <a (click)="navega('planos')" class="planos-vigentes">Novo Plano</a>
            </div>

            <div class="sair">
                <h4>
                <a (click)="navega('home')" class="sairbutton">Sair</a>
                </h4>
            </div>

        </mat-card>
    </div>

    <div class="centercard">
        <mat-card class="CardCenter">
            <mat-card-title class="CardTitulo"><strong> Plano de desenvolvimento de voz </strong></mat-card-title>
            <mat-card-content>
                <div class="cardsTopo">
                    <mat-card class="cardsInfo" id="Nome">{{plano.emailInstrutor}}</mat-card>
                    <mat-card class="cardsInfo" id="AtvRealizadas">CardAtividades realizada</mat-card>
                    <mat-card class="cardsInfo" id="Tempo">Tempo Estimado: {{formata(plano.estimativa)}}</mat-card>
                </div>
                <mat-card-content> 
                    <h3 class="DescTitulo">Descrição</h3>
                    <Div class="Desc"><p>{{plano.descricaoAluno}}</p></Div>
                </mat-card-content>
                <div class="Buttons">
                    <button mat-raised-button color="primary" id="btnADD" (click)="navegaAtividade()">Adicionar Atividade</button>
                    <button mat-raised-button color="primary" id="btnEdit">Editar Plano de Objetivo</button>
                    <button mat-raised-button color="primary" id="btnRela">Gerar Relatório</button>
                </div>
                <div class="atividades">
                    <ng-container *ngFor="let atividade of listaAtiv">
                        <mat-card class="cardAtividade">
                            <mat-card-title id="TituloAtividade">{{atividade.titulo}}</mat-card-title>
                            <mat-card-content id="DescAtividade">{{atividade.descricao}}</mat-card-content>
                        </mat-card>
                    </ng-container>
                </div>

            </mat-card-content>

        </mat-card>
    </div>

</div>
