.all{
    display: flex;
    text-align: center;
}
img{
    width: 13rem;
    height: 13rem;
    text-align: center;
  }
  .img{
    justify-content: center;
  }

  .side-menu{
    margin-top: 1rem;
    margin-left: 0rem;
    display: block;
    text-align: center;
  }
  .links{
    height: auto;
    display: block;
    text-align: center;
  }
  
.titles{
    text-align: center;
    display: block;
  }
  .titulo1{
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    margin-top: .7rem;
    color: white;
  }
  
  .titulo2{
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
    margin-top: 0.03rem;
    color: white;
  }
  
  a{
    display: block;
    font-family: 'Martel', serif;
    color: #24c0eb;
    text-decoration: none;
    margin-top: 0.9rem;
    font-size: .9rem;
  }
  a:hover{
    color: #84def7;
  }

  .sairbutton{
    font-family: 'Martel', serif;
    color: #ffbc11;
    }
  
  .sairbutton:hover{
    color: #f0cd76;
  }
  
  .sair{
  
    justify-content: center;
  
  }
  .sidecard{
    background-color: #026f6e;
    -webkit-box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:    -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    box-shadow:         -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    width: 12rem;
  }

  .home{
    color: #e72313;
  }
  .home:hover{
    color:#af6f69;
  }

  .centercard{
    display:flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .CardCenter{
    width: 94%;
    height: 40rem;
    box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    justify-content: center;
  }
  .CardTitulo{
    font-family: 'Bad Script',cursive;
    color: #026f6e;
    padding-top: 2%;
  }

  .cardsTopo{
    display: flexbox;
    flex-direction: row;
  }

  .cardsInfo{
    width: 176px;
    box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
    margin-top: 5%;
    font-family: 'Martel';
    font-size: 17px;
    text-align: center;
  }

  #Nome{
    color: #e72313;
  }

  #AtvRealizadas, #Tempo {
    color:#294380 ;
  }

  .DescTitulo{
    font-family: 'Martel';
    font-size: 20px;
    color: #026f6e;
  }

  .Desc{
    width: 97%;
    justify-content: center;
    font-family: 'Martel';
    font-size: 16px;
  }

  .Buttons{
    display: contents;
    
  }

  #btnADD{
    font-family: 'Martel';
    font-size: 12px;
    background-color:#026f6e ;
    margin-right: 2%;
    width: 151px;
    height: 47px;
  }

  #btnEdit{
    font-family: 'Martel';
    font-size: 12px;
    background-color:#FF1964 ;
    margin-right: 2%;
    width: 188px;
    height: 47px;
  }

  #btnRela{
    font-family: 'Martel';
    font-size: 14px;
    background-color:#770493 ;
    width: 148px;
    height: 47px;
  }

  .cardAtividade{
    margin-top: 10%;
    width: 171px;
    height: 192px;
  }

  #TituloAtividade{
    font-family: 'Martel';
    font-size: 16px;
    color: #770493;
  }

  #DescAtividade{
    font-family: 'Martel';
    font-size: 12px;
    padding: 5px;
  }


  