<mat-card>
    <div>
      <mat-card-title>ABA</mat-card-title>
      <mat-card-title id="subtitle">Sua assistente de planejamento</mat-card-title>
      <mat-card-title id="where"><a (click)="navega('home')" class="home">Home / Planos</a></mat-card-title>
    </div>
  </mat-card>

  <div class="all">

    <div class="side-menu">
        <div class="img">
            <img src="../../assets/ABA.png" alt="">
        </div>

        <mat-card class="sidecard">

            <div class="titles">
                <h3 class="titulo1">Olá Fulana</h3>
                <h3 class="titulo2">O que deseja?</h3>
            </div>

            <div class="links">
                <a (click)="navega('turmas')" class="minhas-turmas">Minhas Turmas</a>
                <a (click)="navega('cadastro-turmas')" class="criar-turmas">Criar Turmas</a>
                <a (click)="navega('alunos')" class="meus-alunos"> Meus Alunos</a>
                <a (click)="navega('cadastro-alunos')" class="cadastrar-aluno">Cadastrar Aluno</a>
                <a (click)="navega('listar-planos')" class="planos-vigentes">Planos de Objetivos</a>
                <a (click)="navega('planos')" class="planos-vigentes">Novo Plano</a>
              </div>

            <div class="sair">
                <h4>
                <a (click)="navega('home')" class="sairbutton">Sair</a>
                </h4>
            </div>

        </mat-card>
    </div>

    <div class="centercard">

        <mat-card class="cartao1">
            <div class="titulos-card"><h3 class="TituloDireito">Objetivos em desenvolvimento: {{countAtual}}</h3></div>
            <div class="titulos-card"><h3 class="TituloEsquerdo">Planos Realizados: {{countRealizado}} </h3></div>
        </mat-card>
        <mat-card class="cartao2">
            <h2 class="titulo-P-card">Planos de Objetivos</h2>
            <div class="divTabela">
                <table mat-table [dataSource]="planos" multiTemplateDataRows class="mat-elevation-z8">

                    <ng-container matColumnDef="nomePlano">
                        <th mat-header-cell *matHeaderCellDef id="column"> Nome</th>
                        <td mat-cell *matCellDef="let plano" id="elementA"> {{plano.nomePlano}} </td>
                    </ng-container>   

                    <ng-container matColumnDef="estimativa">
                        <th mat-header-cell *matHeaderCellDef id="column" > Status</th>
                        <td mat-cell *matCellDef="let plano" id="elementB"> {{formata(plano.estimativa)}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef id="columnC" > Detalhes</th>
                        <td  mat-cell *matCellDef="let plano" id="elementC">
                            <button mat-icon-button color="primary" (click)="planosDetalhes(plano.id)"><mat-icon>menu</mat-icon></button>
                        </td>
                    </ng-container> 
                    
                    

                    <tr mat-header-row *matHeaderRowDef="ColunasTitulos"></tr>
                    <tr mat-row *matRowDef="let row; columns: ColunasTitulos " class="example-detail-row"></tr>
                  </table>
            </div>

        </mat-card>
       

    </div>

  </div>
