<mat-card>
  <div>
    <mat-card-title>ABA</mat-card-title>
    <mat-card-title id="subtitle">Sua assistente de planejamento</mat-card-title>
    <button mat-raised-button class="login" (click)="login()">Login</button>
  </div>

</mat-card>

<mat-card class="home">
  <div class="project">
    <img src="/assets/ABA.png" alt="" id="logo">

  <h4 class="text">O projeto ABA, nomeado em referência ao termo "Applied Behavior Analysis",
    uma das formas de intervenção do autismo que tem como objetivo analisar o comportamento de crianças com autismo para que haja um reforço em seus comportamentos considerados positivos.
    Em linhas gerais, a aplicação é estruturada para receber informações dos alunos que tenham transtorno do espectro do autismo,
    incentivando-os a realizar atividades que os ajudem a trabalhar melhor sua capacidade cognitiva, bem como auxiliar os professores a construir uma relação com o aluno para que eles possam acompanhar seus alunos de forma efetiva.
    Entre as funcionalidades da aplicação, destaca-se a geração de relatórios sobre o desempenho dos alunos, isto é, suas dificuldades, suas aptidões, suas conquistas e objetivos. Além disso, existe o coordenador, que por sua vez será capaz apenas de observar as informações e ações de professores e alunos.</h4>

  </div>

  <div class="app">
    <mat-card id="tela"><img src="/assets/criar.png" id="telas" alt=""></mat-card>

    <div class="info-left">
      <h1>Faça seu plano de objetivos</h1>
      <h4>Com ajuda da ABA fica mais fácil cadastrar o seu plano de objetivos para o desenvolvimento dos alunos. Defina qual o seu objetivo, estabeleça um prazo e adicione uma breve descrição do seu objetivo e pronto! A ABA vai criar o seu plano de objetivo e deixá-lo prontinho para cadastrar as suas atividades.</h4>
    </div>

  </div>


  <div class="app">

    <div class="info-right">
      <h1>Defina atividades</h1>
      <h4>Precisa de ajuda para registrar o desenvolvimento do aluno? A ABA te ajuda, ela vai organizar todas as atividades que você realizou com seu aluno para atingir o objetivo.
      </h4>
    </div>

    <mat-card id="tela"><img src="/assets/planos.png" id="telas" alt=""></mat-card>

  </div>

  <div class="app">
    <mat-card id="tela"><img src="/assets/ABA.png" id="telas" alt=""></mat-card>

    <div class="info-left">
      <h1>Gere relatórios</h1>
      <h4>A ABA também proporciona a geração de relatórios sobre o desempenho dos alunos, sendo possível acompanhar suas dificuldades, suas aptidões, suas conquistas e seus objetivos.</h4>
    </div>

  </div>

</mat-card>

<div class="end"></div>
