.all{
display: flex;
text-align: center;
}
img{
  width: 13rem;
  height: 13rem;
}

.side-menu{
  margin-top: 1rem;
  margin-left: 0rem;
  display: block;
  text-align: center;

}

div{
  text-align: center;
}

.links{
  height: auto;
  display: block;
  text-align: center;
}

.titles{
  text-align: center;
  display: block;
}
.titulo1{
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  margin-top: .7rem;
  color: white;
}

.titulo2{
  font-family: 'Bad Script', cursive;
  font-size: 1.2rem;
  margin-top: 0.03rem;
  color: white;
}

a{
  display: block;
  font-family: 'Martel', serif;
  color: #24c0eb;
  text-decoration: none;
  margin-top: 0.9rem;
  font-size: .9rem;
}
a:hover{
  color: #84def7;
}
.home{
  color: #e72313;
}
.home:hover{
  color:#af6f69;
}
.sairbutton{
  font-family: 'Martel', serif;
  color: #ffbc11;
  }

.sairbutton:hover{
  color: #f0cd76;
}

.sair{

  justify-content: center;

}

.sidecard{
  background-color: #026f6e;
  -webkit-box-shadow: -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:    -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  box-shadow:         -3px 0px 16px 0px rgba(0, 0, 0, 0.45);
  width: 12rem;
}

.centercard{
  display:flexbox;
}

.cartao2{
  height: 50rem;
  width: 56rem;
  justify-content: space-between;
}

.p1{
  position:static;
  display: flex;
}

.dados{
  padding-top: 2rem;
  font-family: 'Bad Script', cursive;
  color: #026f6e;
  font-size: 2.5rem;
}


.nome{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
  color: #e72313;
  font-family: 'Martel', serif;
}

#nome{
  width: 30rem;
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}

.turno{
  margin-top: 2rem;
  margin-right: 5.5rem;
  display: table;
  color: #e72313;
  font-family: 'Martel', serif;
}

#turno{
  width: 10rem;
  padding: .3rem;
  margin: .4rem;
  position: relative;
  display: flexbox;
}




h2{
  padding-top: 3rem;
  padding-left: 1.7rem;
  font-family: 'Martel', serif;
}

.p2{
  display: table;
}

.DiaSemana{
  color: #e72313;
}

.dias{
  font-family: 'Martel Bold', serif;
  font-size: 1.1rem;
  color: #e72313;
  padding-top: 4%;
  margin-left: 20px;
  text-align: left;

  position: relative;
  display: flexbox;
  flex-direction: column;
}



#dia{
  display: flexbox;
  flex-direction: column;
  width: 12rem;
  height: 1.3rem;
}

.p3{
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.card11{
  display: table;
  width: 22rem;
  height: 15rem;
  background-color: #ffffff;
}

.card1{
  display: table;
  color: #e72313;
  font-family: 'Martel', serif;

}

.card12{
  display: table;
  width: 22rem;
  height: 15rem;
  background-color: #ffffff;

}

.card2{
  display: table;
  color: #e72313;
  font-family: 'Martel', serif;
}

.adicionar{

}


.botoes{
  justify-content: center;
}

#registrar{
  background-color: #026f6e;
  color: white;
  border-color: #5adb94;
  font-family: 'Martel', serif;
  height: 2.6rem;
  border-radius: .5rem;
  width: 8rem;
}

#registrar:hover{
  transition-duration: .5s;
  background-color: #004948;
}

#cancelar{
  font-family: 'Martel', serif;
  background-color: #e72313;
  border-color: #ffbc11;
  color: white;
  border-radius: .5rem;
  height: 2.6rem;
  width: 8rem;
}
#cancelar:hover{
  transition-duration: .5s;
  background-color: #9b1509;
}

input{
  border-color:#24c0eb;
  border-radius: .5rem;
  color: #e72313;
  border-style:solid;
}


select{
  border-color:#24c0eb;
  border-radius: .5rem;
  color: #e72313;
}
