<mat-card>
    <div>
      <mat-card-title>ABA</mat-card-title>
      <mat-card-title id="subtitle">Sua assistente de planejamento</mat-card-title>
      <mat-card-title id="where"><a (click)="home()" class="home">Home / Planos</a></mat-card-title>
    </div>
  </mat-card>

  <div class="all">

    <div class="side-menu">
        <div class="img">
            <img src="../../assets/ABA.png" alt="">
        </div>

        <mat-card class="sidecard">

            <div class="titles">
                <h3 class="titulo1">Olá Fulana</h3>
                <h3 class="titulo2">O que deseja?</h3>
            </div>

            <div class="links">
              <a (click)="turmas()" class="minhas-turmas">Minhas Turmas</a>
              <a (click)="novaTurma()" class="criar-turmas">Criar Turmas</a>
              <a (click)="alunos()" class="meus-alunos"> Meus Alunos</a>
              <a (click)="novoAluno()" class="cadastrar-aluno">Cadastrar Aluno</a>
              <a (click)="planos()" class="planos-vigentes">Planos de Objetivos</a>
              <a (click)="novoPlano()" class="planos-vigentes">Novo Plano</a>
              <a (click)="turmas()" class="relatorios">Relatórios</a>
              <a (click)="perfil()" class="perfil">Meu Perfil</a>
            </div>

            <div class="sair">
                <h4>
                <a (click)="home()" class="sairbutton">Sair</a>
                </h4>
            </div>

        </mat-card>
    </div>

    <div class="centercard">

        <mat-card class="cartao1">
            <div class="titulos-card"><h3 class="TituloDireito">Objetivos em desenvolvimento:{{obDesenvolvimento}}</h3></div>
            <div class="titulos-card"><h3 class="TituloEsquerdo">Planos Realizados: {{obRealizados}}</h3></div>
        </mat-card>
        <mat-card class="cartao2">
            <h2 class="titulo-P-card">Planos de Objetivos</h2>
            <button mat-raised-button color="primary"class="button-Criar">Criar Plano</button>
            <div class="divTabela">
                <table>
                    <tr>
                        <td class="nomeItem">teste</td>
                        <td class="statusItem">teste</td>
                    </tr>
                </table>
                <mat-divider></mat-divider>
            </div>


        </mat-card>

    </div>

  </div>
